name: ETL Job CI/CD

on:
  push:
    branches:
      - main
      - etl_process

jobs:
  build-and-run-etl:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t minhnguyen/etl_process:latest .

      - name: Push Docker image
        run: docker push minhnguyen/etl_process:latest

      - name: Run ETL Job
        run: docker run --rm --env-file .env minhnguyen/etl_process:latest
